<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/cursova_db?useSSL=false&amp;serverTimezone=UTC</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">false</property>
        <mapping class="org.example.entity.Regions"/>
        <mapping class="org.example.entity.Districts"/>
        <mapping class="org.example.entity.Farms"/>
        <mapping class="org.example.entity.Plants"/>
        <mapping class="org.example.entity.BaseEntity"/>
        <mapping class="org.example.entity.Fertilizers"/>
        <mapping class="org.example.entity.Techniques"/>
        <mapping class="org.example.entity.SpareParts"/>
        <mapping class="org.example.entity.CombustibleLubricants"/>
        <mapping class="org.example.entity.BenefitPlant"/>
    </session-factory>
</hibernate-configuration>