<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Add Field</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<div style="margin-left: 100px;margin-right: 100px">
    <div id="add_form">
        <form th:action="@{/field/{id}/new(id=${farm.getId()})}" th:method="POST" th:object="${field}">
            <div class="form-floating">
                <input name="cadastralNumber" type="text" class="form-control" id="fieldCadastral" placeholder="fieldCadastral"
                       autofocus="true" field="*{cadastralNumber}"/>
                <label for="fieldCadastral">Field cadastral number</label>
            </div>
            <div class="form-floating">
                <input name="sizeOfField" type="text" class="form-control" id="sizeOfField" placeholder="sizeOfField"
                       autofocus="true" field="*{sizeOfField}"/>
                <label for="sizeOfField">Size of field</label>
            </div>
            <div class="form-floating">
                <input name="rentalPrice" type="text" class="form-control" id="rentalPrice" placeholder="rentalPrice"
                       autofocus="true" field="*{rentalPrice}"/>
                <label for="rentalPrice">Rental price</label>
            </div>
            <input type="submit" class="floating-button" value="Create"/>
        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
        integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
        crossorigin="anonymous"></script>
</body>
</html>
