<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Add Field</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<div style="margin-left: 100px;margin-right: 100px">
    <div class="container">
        <header class="d-flex justify-content-around align-items-center py-3 mb-4 border-bottom ">
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/home" class="floating-button" aria-current="page">Home</a></li>
                <li class="nav-item"><a href="/farms" class="floating-button">Farms</a></li>
            </ul>
            <div>
                <span>Farm name: </span>
                <span th:text="*{farm.farmName}"></span>
            </div>
        </header>
    </div>
    <div id="add_form">
        <form th:action="@{/field/{farm_id}/new(farm_id=${farm.getId()})}" th:method="POST" th:object="${field}">
            <div class="form-floating">
                <input name="cadastralNumber" type="text" class="form-control" id="fieldCadastral"
                       placeholder="fieldCadastral"
                       autofocus="true" field="*{cadastralNumber}"/>
                <label for="fieldCadastral">Field cadastral number in format: xxxxxxxxxx.xx.xxx.xxxx</label>
                <p if="${#fields.hasErrors('cadastralNumber')}" errorclass="error" errors="*{cadastralNumber}"/>
            </div>
            <div class="form-floating">
                <input name="sizeOfField" type="text" class="form-control" id="sizeOfField" placeholder="sizeOfField"
                       autofocus="true" field="*{sizeOfField}"/>
                <label for="sizeOfField">Size of field (ha)</label>
                <p if="${#fields.hasErrors('sizeOfField')}" errorclass="error" errors="*{sizeOfField}"/>
            </div>
            <div class="form-floating">
                <input name="rentalPrice" type="text" class="form-control" id="rentalPrice" placeholder="rentalPrice"
                       autofocus="true" field="*{rentalPrice}"/>
                <label for="rentalPrice">Rental price (₴)</label>
                <p if="${#fields.hasErrors('rentalPrice')}" errorclass="error" errors="*{rentalPrice}"/>
            </div>
            <input type="submit" class="floating-button" value="Create"/>
        </form>
    </div>
</div>
</body>
</html>
