<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Add Farm</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<div style="margin-left: 100px;margin-right: 100px">
    <div class="container">
        <header class="d-flex justify-content-around align-items-center py-3 mb-4 border-bottom ">
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/home" class="floating-button" aria-current="page">Home</a></li>
                <li class="nav-item"><a href="/farm" class="floating-button">Farms</a></li>
            </ul>
            <div id="usernameId">
                <form id="logoutForm" th:method="POST" th:action="@{/logout}">
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    <button type="submit" class="floating-button">Logout</button>
                    <span th:text="*{user.login}"></span>
                </form>
            </div>
        </header>
    </div>
    <div id="add_form">
        <form th:action="@{/farm/new}" th:method="POST" th:object="${farm}">
            <h6 th:text="${errorMessage}"></h6>
            <div class="form-floating">
                <input name="farmName" type="text" class="form-control" id="farmName" placeholder="farmName"
                       autofocus="true" th:field="*{farmName}"/>
                <label for="farmName">Farm name</label>
                <p th:if="${#fields.hasErrors('farmName')}" th:errorclass="error" th:errors="*{farmName}"/>
            </div>
            <div class="form-floating">
                <input name="address" type="text" class="form-control" id="address" placeholder="address"
                       autofocus="true" th:field="*{address}"/>
                <label for="address">Address</label>
                <p th:if="${#fields.hasErrors('address')}" th:errorclass="error" th:errors="*{address}"/>
            </div>
            <div class="form-floating">
                <input name="yearOfStatistic" type="text" class="form-control" id="yearOfStatistic"
                       placeholder="yearOfStatistic"
                       autofocus="true" th:field="*{yearOfStatistic}"/>
                <label for="yearOfStatistic">Year of statistic</label>
                <p th:if="${#fields.hasErrors('yearOfStatistic')}" th:errorclass="error"
                   th:errors="*{yearOfStatistic}"/>
            </div>
            <input type="submit" class="floating-button" value="Create"/>
        </form>
    </div>
</div>
</body>
</html>
