<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Farm's plants</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <header class="d-flex justify-content-around align-items-center py-3 mb-4 border-bottom ">
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/home" class="floating-button" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="/farms" class="floating-button">Farms</a></li>
        </ul>
        <div>
            <span>Farm name: </span>
            <span th:text="*{farm.farmName}"></span>
        </div>
    </header>
</div>
<div>
    <table class="table_of_smth">
        <caption>List of plants</caption>
        <thead>
        <tr>
            <th scope="col">Plant name</th>
            <th scope="col">Size of field for plant (ha)</th>
            <th scope="col">Rental price of fields (₴)</th>
            <th scope="col">Cost of fertilizers (₴)</th>
            <th scope="col">Other expenses (₴)</th>
            <th scope="col">Plant harvest (centner/ha)</th>
            <th scope="col">Cost of plant (₴/centner)</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="plant : ${plants}">
            <td><label th:text="${plant.getPlantName()}">Cadastral number</label></td>
            <td><label th:text="${plant.getSizeOfFieldForPlant()}">Size of field for plant</label></td>
            <td><label th:text="${plant.getRentalPriceOfField()}">Rental price of fields</label></td>
            <td><label th:text="${plant.getCostOfFertilizers()}">Cost of fertilizers</label></td>
            <td><label th:text="${plant.getOtherExpense()}">Other expenses</label></td>
            <td><label th:text="${plant.getPlantHarvest()}">Plant harvest</label></td>
            <td><label th:text="${plant.getCostOfPlant()}">Cost of plant</label></td>
            <td><a th:href="@{/update/plant/{id}(id=${plant.getId()})}" class="floating-button">Select</a></td>
        </tr>
        <tr>
            <td colspan="8"><a th:method="GET" th:href="@{/plant/{id}/new(id=${farm.getId()})}" class="floating-button">Add
                new plant</a></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:if="${option == 0}" id="add_form">
    <div>
        <label>Expense: <span th:text="*{expense}"></span></label>
    </div>
    <div><label>Profit: <span th:text="*{profit}"></span></label></div>
    <div><label>Net profit: <span th:text="*{netProfit}"></span></label></div>
    <form th:method="PATCH" th:action="@{/plant/{id}(id=${plant.getId()})}" th:object="${plant}">
        <div class="form-floating">
            <input name="plantName" type="text" class="form-control" id="plantName"
                   placeholder="plantName"
                   autofocus="true" th:field="*{plantName}"/>
            <label for="plantName">Plant name</label>
        </div>
        <div class="form-floating">
            <input name="sizeOfFieldForPlant" type="text" class="form-control" id="sizeOfFieldForPlant"
                   placeholder="sizeOfFieldForPlant"
                   autofocus="true" th:field="*{sizeOfFieldForPlant}"/>
            <label for="sizeOfFieldForPlant">Size of field for plant(ha)</label>
        </div>
        <div class="form-floating">
            <input name="rentalPriceOfField" type="text" class="form-control" id="rentalPriceOfField"
                   placeholder="rentalPriceOfField"
                   autofocus="true" th:field="*{rentalPriceOfField}"/>
            <label for="rentalPriceOfField">Rental price of field (₴)</label>
        </div>
        <div class="form-floating">
            <input name="costOfFertilizers" type="text" class="form-control" id="costOfFertilizers"
                   placeholder="costOfFertilizers"
                   autofocus="true" th:field="*{costOfFertilizers}"/>
            <label for="costOfFertilizers">Cost of fertilizers (₴)</label>
        </div>
        <div class="form-floating">
            <input name="otherExpense" type="text" class="form-control" id="otherExpense" placeholder="otherExpense"
                   autofocus="true" th:field="*{otherExpense}"/>
            <label for="otherExpense">Other expenses (₴)</label>
        </div>
        <div class="form-floating">
            <input name="plantHarvest" type="text" class="form-control" id="plantHarvest" placeholder="plantHarvest"
                   autofocus="true" th:field="*{plantHarvest}"/>
            <label for="plantHarvest">Plant harvest (centner/ha)</label>
        </div>
        <div class="form-floating">
            <input name="costOfPlant" type="text" class="form-control" id="costOfPlant" placeholder="costOfPlant"
                   autofocus="true" th:field="*{costOfPlant}"/>
            <label for="costOfPlant">Cost of plant (₴/centner)</label>
        </div>
        <input type="submit" class="floating-button" value="Update"/>
    </form>
    <form th:method="DELETE" th:action="@{/plant/{id}(id=${plant.getId()})}">
        <input type="submit" class="floating-button" value="Delete"/>
    </form>
</div>
</body>
</html>